.container{

    justify-content: center;
    align-self: center;
    gap: 40px;
    padding-top: 50px;
    background-color: #029296;
    margin-left: 350px;
    margin-right: 350px;



}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-left: 50px;


}

.display{
    display: flex;
    gap: 200px;
    justify-content: center;

}

.result{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
