.container{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 40px;



}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

.buttons{

    justify-content: center;
    align-items: center;
    gap: 40px;
}

